@import "tailwindcss";

@theme {
  --color-background: #262626;
  --color-foreground: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
